In [2]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
try:
    # Laptop path
    df = pd.read_csv('C:/Users/Eugene/Documents/GitHub/BoyWithLuv-Team/car_price_pred/car_prices.csv')
except FileNotFoundError:
    # PC path
    df = pd.read_csv('C:/Users/Eugene/Documents/GitHub/BoyWithLuv-Team/car_price_pred/car_prices.csv')

In [3]:
path = "C:\\Users\\Republic Of Gamers\\OneDrive - Asia Pacific University\\archive (1)\\car_prices.csv"
df = pd.read_csv(path)
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

Columns:
- `year` : The manufacturing year of the vehicle.
- `make` : The brand or manufacturer of the vehicle.
- `model`: The specific model of the vehicle.
- `trim` : The additional designation for the vehicle model.
- `body` : The body type of the vehicle (e.g., SUV, Sedan).
- `transmission` : The type of transmission in the vehicle (e.g., automatic).
- `vin` : Vehicle Identification Number, a unique code for each vehicle.
- `state` : The state where the vehicle is registered.
- `condition` : Condition of the vehicle, possibly rated on a scale.
- `odometer` : The mileage or distance traveled by the vehicle.
- `color` : The exterior color of the vehicle.
- `interior` : The interior color of the vehicle.
- `seller` : The entity selling the vehicle.
- `mmr` : Manheim Market Report, possibly indicating the estimated market value of the vehicle.
- `sellingprice` : The price at which the vehicle was sold.
- `saledate` : The date and time when the vehicle was sold.

## Initial Exploration

In [4]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [6]:
df.shape

(558837, 16)

In [7]:
df.isna().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [8]:
df.duplicated().any()

False

In [9]:
df.nunique().reset_index()

           index       0
0           year      34
1           make      96
2          model     973
3           trim    1963
4           body      87
5   transmission       4
6            vin  550297
7          state      64
8      condition      41
9       odometer  172278
10         color      46
11      interior      17
12        seller   14263
13           mmr    1101
14  sellingprice    1887
15      saledate    3766

In [10]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [11]:
df.describe(include=object)

,make,model,trim,body,transmission,vin,state,color,interior,seller,saledate
count,548536,548438,548186,545642,493485,558833,558837,558088,558088,558837,558825
unique,96,973,1963,87,4,550297,64,46,17,14263,3766
top,Ford,Altima,Base,Sedan,automatic,automatic,fl,black,black,nissan-infiniti lt,Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
freq,93554,19349,55817,199437,475915,22,82945,110970,244329,19693,5334

## Preprocessing

In [12]:
df.sample(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
429392,2014,Ford,Focus,SE,Sedan,automatic,1fadp3f25el151435,fl,4.0,39915.0,—,black,ars/avis budget group,10300.0,10100.0,Thu May 28 2015 02:00:00 GMT-0700 (PDT)
373563,2013,Ford,Escape,SE,SUV,automatic,1fmcu9gx9dud47409,nj,44.0,39866.0,white,gray,ford motor credit company llc,16850.0,12900.0,Wed Mar 04 2015 01:00:00 GMT-0800 (PST)
80839,2011,Infiniti,QX56,Base,SUV,automatic,jn8az2ne2b9005584,nj,28.0,69721.0,gray,black,nissan infiniti lt,35700.0,34500.0,Wed Jan 07 2015 09:30:00 GMT-0800 (PST)
526917,2009,Chevrolet,HHR,LT,wagon,automatic,3gnca23v39s565708,ga,44.0,65408.0,silver,black,young motors llc,5725.0,8000.0,Thu Jun 11 2015 02:45:00 GMT-0700 (PDT)
392322,2005,Nissan,Altima,2.5 S,Sedan,automatic,1n4al11d95c175166,ca,19.0,179627.0,white,gray,m & n financial,2425.0,2400.0,Thu Mar 05 2015 04:00:00 GMT-0800 (PST)
425707,2014,Volkswagen,Passat,SE PZEV,Sedan,automatic,1vwbp7a37ec003180,ca,41.0,17779.0,white,black,vw credit,15650.0,15500.0,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
303342,2008,Chevrolet,Impala,LS,Sedan,automatic,2g1wt58k681348219,oh,38.0,86394.0,red,gray,dt credit corporation,6050.0,6400.0,Thu Feb 12 2015 01:00:00 GMT-0800 (PST)
233845,2001,Ford,Expedition,XLT,SUV,NaN,1fmru15w71la73554,fl,24.0,153407.0,white,gray,zimmerman auto brokers inc,1350.0,950.0,Fri Feb 06 2015 01:30:00 GMT-0800 (PST)
425468,2001,Jaguar,XJ-Series,Vanden Plas,Sedan,automatic,sajda24c31lf27310,ga,19.0,173548.0,blue,gray,autonation nissan thornton road,1100.0,500.0,Tue May 19 2015 06:00:00 GMT-0700 (PDT)
345955,2015,BMW,5 Series,535i,Sedan,automatic,wba5b1c55fd917513,oh,49.0,7605.0,—,tan,bmw north america greer,49700.0,48750.0,Tue Feb 24 2015 06:00:00 GMT-0800 (PST)

## Business Analysis

- **1. Finance KPIs**: focus on revenue, profitability, and cost efficiency.
    - **Total Sales**
        - **Formula**: `Sum of sellingprice`
        - **Description**: Total revenue generated from vehicle sales.
        - **Plot**: Bar chart showing total sales over time (by month/quarter).
    - **Average Selling Price**
        - **Formula**: `Total Sales / Number of Transactions`
        - **Description**: The average price at which vehicles are sold, useful for identifying market trends and pricing strategies.
        - **Plot**: Line chart showing trends in average selling price over time.
    - **Price to MMR Ratio**
        - **Formula**: `sellingprice / mmr`
        - **Description**: Compares the selling price to the market value (MMR). A higher ratio indicates that the vehicle was sold above the market value.
        - **Plot**: Box plot comparing selling price to MMR values, grouped by vehicle type.
    - **Profitability by Vehicle**
        - **Formula**: `Profit = sellingprice - mmr`
        - **Description**: Calculate the profitability of each sale, useful if acquisition cost data is available.
        - **Plot**: Bar chart or scatter plot showing profitability per vehicle model or seller.
---

- **2. Sales KPIs**: focus on the performance of sales transactions and sales growth.
    - **Sales by Make/Model**
        - **Formula**: `Group by make or model and sum the sellingprice`
        - **Description**: Identifies which vehicle brands or models generate the most revenue.
        - **Plot**: Bar chart comparing sales performance across different vehicle makes or models.
    - **Sales by Vehicle Condition**
        - **Formula**: `Group by condition and sum the sellingprice`
        - **Description**: Analyze how vehicle condition (rating from 1 to 5, for example) impacts the sales price.
        - **Plot**: Stacked bar chart showing sales volume based on vehicle condition.
    - **Top-Selling Vehicles**
        - **Formula**: `Group by model and sum the sellingprice`
        - **Description**: Identifies which vehicle models are the most popular based on sales.
        - **Plot**: Horizontal bar chart displaying top-selling models.
    - **Sales by Body Type/Transmission Type**
        - **Formula**: `Group by body or transmission and sum the sellingprice`
        - **Description**: Helps understand the demand for specific vehicle body types (e.g., SUV, Sedan) or transmission types (e.g., automatic, manual).
        - **Plot**: Side-by-side bar chart comparing sales by body type and transmission.
    - **Sales by State**
        - **Formula**: `Group by state and sum the sellingprice`
        - **Description**: Tracks regional vehicle sales performance.
        - **Plot**: Heatmap or bar chart showing sales distribution by region.

---

- **3. Market Behaviour KPIs**: give insights into market behavior and trends over time.
    - **Price Fluctuations Over Time**
        - **Formula**: `Track sellingprice by month/quarter using saledate`, Track `sellingprice` by month or quarter using `saledate`.
        - **Description**: Identifies pricing trends over time, useful for understanding market cycles.
        - **Plot**: Line chart showing vehicle price trends over time.
    - **Vehicle Age Impact on Price**
        - **Formula**: `Vehicle Age = Current Year - year`
        - **Description**: Analyze how the age of a vehicle impacts its selling price.
        - **Plot**: Scatter plot showing the relationship between vehicle age and selling price.
    - **Odometer Impact on Price**
        - **Formula**: `Analyze relationship between odometer and sellingprice`
        - **Description**: Understand how mileage affects the vehicle's resale value.
        - **Plot**: Scatter plot or bubble chart visualizing odometer reading vs. selling price.
    - **Market Share by Make/Model**
        - **Formula**: `Group by make or model and calculate percentage of total sales`
        - **Description**: Identifies the market share distribution of  vehicle brands or models.
        - **Plot**: Pie chart showing market share distribution of different vehicle makes.

---

- **4. Operations KPIs**: focus on operational efficiency and vehicle conditions.
    - **Average Condition Score**
        - **Formula**: `Sum of condition / Number of Vehicles`
        - **Description**: Measures the overall quality of the vehicles sold.
        - **Plot**: Line chart showing average condition scores over time or by seller.
    - **Time to Sale**
        - **Formula**: `Time to Sale = saledate - Date of Vehicle Listing`
        - **Description**: Measures how quickly vehicles are sold after being listed. Useful for inventory turnover analysis.
        - **Plot**: Histogram or bar chart showing the distribution of time-to-sale for different vehicle categories.
    - **Seller Performance**
        - **Formula**: `Group by seller and sum the sellingprice`
        - **Description**: Analyzes which sellers generate the most sales, useful for partnerships and supply chain analysis.
        - **Plot**: Bar chart or heatmap showing sales performance by seller.
    - **Inventory Turnover**
        - **Formula**: `Number of Vehicles Sold / Average Inventory`
        - **Plot**: Line chart showing inventory turnover trends by vehicle category or seller.

---